<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS ONLY -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <nav>

        <div class="logo">
            Smart Task Manager
        </div>

        <!-- CENTER SEARCH BAR -->
        {% if session.get('user') %}
        <form action="/search" method="GET" class="navbar-search">

            <span class="search-icon">🔍</span>

            {% if session.get('role') == 'admin' %}

            <input type="text" name="query" class="navbar-search-input" placeholder="Search users, tasks, analytics..."
                required>

            {% else %}

            <input type="text" name="query" class="navbar-search-input" placeholder="Search tasks, reports..." required>

            {% endif %}

        </form>
        {% endif %}

        <div class="nav-links">
            <a href="/">Home</a>
            {% if session.get('user') %}
            <a href="/profile">Profile</a>
            <a href="/tasks">Tasks</a>
            <a href="/weekly-report">Analysis</a>
            {% if session.get('role') == 'admin' %}

            <a href="/admin">
                Admin Dashboard
            </a>

            {% endif %}
            <a href="/history">History</a>
            <a href="/logout">Logout</a>

            <div class="notification-menu">

                <a href="{{ url_for('notifications') }}" class="notification-link">

                    <i class="fa-solid fa-bell"></i>

                    {% if unread_count > 0 %}
                    <span class="notification-count">
                        {{ unread_count }}
                    </span>
                    {% endif %}

                </a>

            </div>

            {% else %}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            {% endif %}
            <button id="darkToggle" class="dark-btn">🌙</button>
        </div>

    </nav>


    {% block content %}{% endblock %}

    {% block scripts %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="{{ url_for('static', filename='script1.js') }}"></script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>