
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Smart Task Manager</title>

</head>
<body>

    <!-- Navbar -->

    <nav>

        <div class="logo">
            Smart Task Manager
        </div>
    <div class="nav-links">
    <a href="/">Home</a>

    {% if session.get('user') %}

        <a href="/logout">Logout</a>
        <a href="/tasks">Tasks</a>

    {% else %}
        <a href="/login">Login</a>
        <a href="/register">Register</a>

    {% endif %}

</div>

    </nav>

    <!-- Hero Section -->

    <section class="hero">

        <h1>Manage Your Tasks Efficiently</h1>

        <p>
            Organize your daily work, track progress,
            and stay productive with Smart Task Manager.
        </p>

        <button>Get Started</button>

    </section>


<!-- Features Section -->

<section class="features">

    <h2>Features</h2>

    <div class="feature-container">

        <div class="feature-card">
            <h3>Task Management</h3>
            <p>Add, organize, and manage your daily tasks easily.</p>
        </div>

        <div class="feature-card">
            <h3>User Authentication</h3>
            <p>User authentication system for secure access.</p>
        </div>

        <div class="feature-card">
            <h3>Dark Mode</h3>
            <p>Clean and modern interface with dark mode support.</p>
        </div>

    </div>

</section>
<!-- Footer -->

<footer>

    <p>© 2026 Smart Task Manager | All Rights Reserved</p>

</footer>


</body>
</html>