
{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}


    <div class="login-page">
        <div class="login-box">
            <h1>Welcome Back</h1>
            <p class="login-text">
                Login to continue managing your tasks efficiently.
            </p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="flash-message">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form method="POST" action="/login">
                <input type="text" name="username" placeholder="Enter Username" required>
                <div class="password-box">

                    <input type="password" name="password" placeholder="Enter Password" id="password" required>

                    <span id="togglePassword">👁️</span>

                </div>
                <button type="submit">Login</button>
                <p class="forgot-password">
                    <a href="#">Forgot Password?</a>
                </p>
            </form>
            <p class="register-link">
                Don't have an account?
                <a href="/register">Register</a>
            </p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}">

        const password = document.getElementById('password');

        const togglePassword = document.getElementById('togglePassword');

        togglePassword.addEventListener('click', function () {

            if (password.type === 'password') {

                password.type = 'text';

            }
            else {

                password.type = 'password';

            }

        });

    </script>
    {% endblock %}