<!DOCTYPE html>
<html>

<head>
    <title>Tasks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

{% extends "base.html" %}

{% block title %}Tasks{% endblock %}

{% block content %}

    <div class="tasks-page">

        <h1>Your Tasks</h1>

        <!-- ADD TASK -->
        <form method="POST" action="/tasks" class="task-form">
            <input type="text" name="task" placeholder="Enter new task" required>
            <input type="date" name="deadline" required>
            <button type="submit">Add Task</button>
        </form>

        <!-- TASK LIST -->
        <ul class="task-list">
            {% for task in tasks %}
            <li class="task-item">

                <div class="task-left">

                    <h3>{{ task[2] }}</h3>

                    <small>
                        📅 Deadline: {{ task[4] }}
                    </small>

                    <br>

                    {% if task[3] == 'completed' %}

                    <span class="completed-badge">
                        ✅ Completed
                    </span>

                    {% elif task[4] < today %} <span class="overdue-badge">
                        ❌ Overdue
                        </span>

                        {% else %}

                        <span class="pending-badge">
                            ⏳ Pending
                        </span>

                        {% endif %}

                </div>


                <div class="task-actions">

                    {% if task[3] == 'pending' %}
                    <a href="/complete/{{ task[0] }}" class="done-btn">
                        Done
                    </a>
                    {% endif %}

                    <a href="/delete/{{ task[0] }}" class="delete-btn">
                        Delete
                    </a>

                </div>

            </li>

            {% endfor %}
        </ul>

    </div>

{% endblock %}
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>